
<!-- _11ty/_layouts/default.njk -->
<section id="{{ p.fileSlug | cleanTitle | slug }}" 
         data-template="default"
         {% if p.data.show %}data-show="{{ p.data.show }}"{% endif %}
         {% if p.data.toc %}data-toc="{{ p.data.toc }}"{% endif %}
        class="{{ [
          p.data.toc and 'toc-' + p.data.toc,
          p.data.class,
          'default',
          'marker'
        ] | reject('falsy') | join(' ') }}"

	{% include "partials/frontmatter-attrs.njk" %}>
  
  {{ p.templateContent | safe }} 

</section>